extends base.pug
block style 
    style 
        include ../static/style.css 
        include ../static/styleabout.css 
block content 
    section#primary
        div.d1 About Us
    section#primary2 
        div.d2 For us, it's not just about bringing you  education from various fields. It's about making a connection, which is why we sit down with the students, breshing up the things that will arrive success with full of knowledge. Learn with us!  
    section#secondary 
        div.sec1
            div.sec11 HOW WE WORK!! 
            div.sec12 
                ul
                    li.l1  Analyse Student
                    li.l2  Focus On Strength
                    li.l3  Practical Implementation
    section#ternary 
        div.ter1
            div.ter11 Our Aim 
            div.ter12
                p Bringing good skills into you everyday. That's our mission.
                br
                |That means we don't just deliver--we bring it, always going the extra mile to make your experience memorable.
                |And it means you can stand away from crowd ,enjoy everyday from zero to hero,
                |to indulgent family desires, to be self confident. Whatever you crave for success, we can help.    
    section#danger 
        div.dan1
            div.dan11 About Us
            div.dan12
                p EduWorld is India’s leading on-demand learning platform, dedicated to bringing students a wide range of skill education,PPO offers and more, quickly and conveniently. Powered by technology and operational excellence, EduWorld is spearheading the growth of quick-commerce (q-commerce) across the region with  its network of retail partners, as well as pandamart cloud stores to provide more on-demand options beyond the thousands of courses .                        
    section#location 
        div.lochead Institute Locations
        div.loc1
            div#line
            div.row1.row
                ul  
                    li
                        a(href='//google.com') 
                            img.city.city1(src="../static/indore.jpg", alt="" class="img1 sp")
                            p#para Indore
                    li
                        a(href='//google.com')
                            img.city.city2(src="../static/mumbai.jpg", alt="" class="img1 sp")
                            p#para Mumbai
                    li
                        a(href='//google.com')
                            img.city.city3(src="../static/pune.jpg", alt="" class="img1 sp")
                            p#para Pune
            div.row2.row
                ul
            
                    li
                        a(href='//google.com')
                            img.city.city4(src="../static/delhi.jpg", alt="" class="img1 sp") 
                            p#para  New Delhi
                    li
                        a(href='//google.com')
                            img.city.city5(src="../static/malegaon.jpg", alt="" class="img1 sp")
                            p#para Malegaon
                    li
                        a(href='//google.com')
                            img.city.city6(src="../static/kota.jpg", alt="" class="img1 sp")
                            p#para Kota
                
            div.row3.row
                ul 
                    li
                        a(href='//google.com')
                            img.city.city7(src="../static/hyderabad.jpg", alt="" class="img1 sp")
                            p#para hyderabad
                    li
                        a(href='//google.com')
                            img.city.city8(src="../static/channei.jpg", alt="" class="img1 sp")
                            p#para Channei
                    li
                        a(href='//google.com')
                            img.city.city9(src="../static/bhopal.jpg", alt="" class="img1 sp") 
                            p#para Bhopal        



