extends base.pug
block style 
    style 
        include ../static/style.css 
        include ../static/stylecourses.css 
block content 
    div.courses-primary
        div.cp1 Our Courses
    div#container
        div.container-row1.container-row 
            div.box.box1
                div 
                    img(src="../static/course-image/course-img (1).png", alt="")
                div.box-div2
                    p System Analysis
                    a(href="/contact") 
                        div.btn  Join 
            div.box.box1
                div 
                    img(src="../static/course-image/course-img (2).png", alt="")
                div.box-div2
                    p Business Analytics
                    a(href="/contact") 
                        div.btn  Join 
            div.box.box1
                div  
                    img(src="../static/course-image/course-img (3).png", alt="")
                div.box-div2
                    p Artificial Intelligence
                    a(href="/contact") 
                        div.btn  Join   
        div.container-row2.container-row
            div.box.box1
                div 
                    img(src="../static/course-image/course-img (4).png", alt="")
                div.box-div2
                    p Data Science
                    a(href="/contact") 
                        div.btn  Join   
                 
            div.box.box1
                div 
                    img(src="../static/course-image/course-img (5).png", alt="")
                div.box-div2
                    p Cyber Security
                    a(href="/contact") 
                        div.btn  Join    
                 
            div.box.box1
                div 
                    img(src="../static/course-image/course-img (6).png", alt="")
                div.box-div2
                    p Digital Marketing
                    a(href="/contact") 
                        div.btn  Join    
                 
        div.container-row3.container-row 
            div.box.box1
                div  
                    img(src="../static/course-image/course-img (7).png", alt="")
                div.box-div2
                    p Crypto Protocol
                    a(href="/contact") 
                        div.btn  Join    
            div.box.box1
                div  
                    img(src="../static/course-image/course-img (8).png", alt="")
                div.box-div2
                    p Business Statistics
                    a(href="/contact") 
                        div.btn  Join    
            div.box.box1
                div    
                    img(src="../static/course-image/course-img (9).png", alt="")
                div.box-div2
                    p System Design
                    a(href="/contact") 
                        div.btn  Join  
        div.container-row3.container-row
            div.box0 Note:All courses are from professionals and shareing the content may lead to legal action                           


