//- used in previous lecture modified it
doctype html
html
  head
    title Moon 
    style
      include ../static/style.css
  body 
    nav#navbar
        div#logo
            img(src="../static/logo.png", alt="") 
        ul 
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/") Contact Us]
    section#introsection 
        div.d1 Welcome to the best coaching classes! 
        div.d2 Here its Moon
    section#missionsection  
        h2 Our Mission 
        div#missionbox
          div#item
              h3 Quality Education
              p this is mission item  Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime iusto iure velit dolorum ipsa facilis ab impedit odit? Nemo dignissimoslore Lorem ipsum, dolor sit amet consectetur
          div#item
              h3 Build Confidence
              p this is mission item Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime iusto iure velit dolorum ipsa facilis ab impedit odit? Nemo dignissimoslore Lorem ipsum, dolor sit amet consectetur
          div#item
              h3 Practical Knowledge
              p this is mission item  Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime iusto iure velit dolorum ipsa facilis ab impedit odit? Nemo dignissimos  lore Lorem ipsum, dolor sit amet consectetur    
    section#sponsorsection  
        h3 Our Sponsors
        div#sponsors
            img(src="../static/sp1.png", alt="" class="img1 sp")
            img(src="../static/sp2.png", alt="" class="img2 sp")
            img(src="../static/sp3.png", alt="" class="img3 sp")
            img(src="../static/sp4.png", alt="" class="img4 sp")
            img(src="../static/sp5.png", alt="" class="img5 sp")
            
            
                               
    footer
        div#end
           | copyright© 2022 | All rigths reserved
