extends base.pug
block style 
    style 
        include ../static/style.css 
        include ../static/stylewhy-us.css
block content 
    section#wucontainer
        div#wucontainer1
            div.c1.item Where technology teams build better skills, faster
            .c2.item  Technology teams are only as successful as their skills are relevant. With access to expert-authored courses and content, skill assessments and analytics, Pluralsight Skills gives you the most effective path to building business-critical skills.
            a(href="/courses")     
                div.container-btn.item Join Now
    section#wuprimary
        div#wuprimary-container 
            div#wuprimary1
                div.head1 THE TECHNOLOGY SKILLS PLATFORM
                div.head2 Empower employees to build their skills
            div#wuprimary2 
                div.wu-image1 
                    img(src="../static/why1 (2).png" alt="" srcset="")
                div.wuprimary22  
                    div.wup1 COURSE LIBRARY         
                    div.wup2 Feel confident your team is learning from the industry’s best         
                    div.wup3 Upskill your team with courses on the most in-demand technology topics, taught by the experts who know them best.         
                    div.wup4
                        div.wup41.wup-list-box
                            ul(type="arrow")
                                li.it Software Development         
                                li.it Machine Learning & AI         
                                li.it Business Analytics        
                        div.wup42.wup-list-box
                            ul 
                                li.it Data Professional         
                                li.it Information & Cybersecurity         
                                li.it Blockchain          
    section#wusecondary 
        div#wuseconadry1
            div.wusecondary-head Our Courses
        div#wuseconadry2
            div.wuseconadry1-row1.wuseconadry1-row 
                div.wublock.wublock1
                    div.img-box 
                        img(src="../static/why10.png" alt="")
                    div.space-block 
                    div.box-content 93% of surveyed organizations realized a return on their investment within 6-12 months of implementing Pluralsight
                div.wublock.wublock2
                    div.img-box 
                        img(src="../static/why11.png" alt="")
                    div.space-block 
                    div.box-content 96% of surveyed organizations are likely to recommend Pluralsight
                div.wublock.wublock3
                    div.img-box  
                        img(src="../static/why13.png" alt="")
                    div.space-block 
                    div.box-content Over half of surveyed organizations confirmed that Pluralsight has enabled them to save time and money
            div.wuseconadry1-row2.wuseconadry1-row
                div.wublock.wublock4
                    div.img-box 
                        img(src="../static/why14.png" alt="")
                    div.space-block 
                    div.box-content Providing skill development resources to your employees increases retention and keeps employees engaged

                div.wublock.wublock5
                    div.img-box 
                        img(src="../static/why15.png" alt="")
                    div.space-block 
                    div.box-content Tools like Pluralsight enable objective career development discussions and guide employees into future roles

                div.wublock.wublock6
                    div.img-box 
                        img(src="../static/why16.png" alt="")
                    div.space-block 
                    div.box-content A culture of learning encourages employees to grow and learn from one another, making the whole business better
            div
                div.box0 TechValidate Survey, 2022