@import url('https://fonts.googleapis.com/css2?family=Teko:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Teko:wght@600;700&display=swap');

#container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    height: 490px;
    font-family: 'Teko', sans-serif;
}
#container::before
{
    position: absolute;
    content: "";
    background: url("static/bg2.jpg") no-repeat center center/cover;
    /* height: 488px; */
    height: 609px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.8;
}

#heading{
    font-family: 'Teko', sans-serif;
    text-align: center;
    color: #fafafac9;
    
}

.myinput {
    margin: 12px 5px;
    padding: 6px;
    border: 1px solid black;
    border-radius: 7px;
    font-size: 16px;
    background-color: #05050530;
    outline: none;
    font-family: 'Teko', sans-serif;

}
.myinput::placeholder
{
    color: rgba(46, 44, 44, 0.719);
    text-shadow: 0 0 5px white ;
}
.address
{
    height: 85px;
}

#btn {
    font-family: 'Teko', sans-serif;
    margin: auto;
    width: 52%;
    margin-top: 14px;
    margin-bottom: 10px;
    border: 1px solid black;
    font-size: 19px;
    border-radius: 10px;
    padding: 5px 8px;
    cursor: pointer;
    color: white;
    background-color: #161313c4;
}
#btn:hover
{
    background-color: #665f5fcf;
}